body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h3 {
  font-size: 1.6rem;
}

main {
  width: 69%;
  border: 1px solid;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 20px;
}

aside {
  width: 29%;
  border: 1px solid;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random-game,
.find-game {
  width: 50%;
}

.search-result {
  width: 100%;
}

h1 {
  text-align: center;
  width: 100%;
  border: 1px solid;
  padding: 20px;
  font-size: 2.2rem;
  background-color: #19191a;
  color: #fff;
}

p {
  margin: 0;
}

#birthdays,
#textSearch {
  width: 100%;
  border-top: 1px solid black;
}

.character-section {
  padding: 0 15px;
  border-bottom: 1px solid;
  padding-bottom: 2em;
}

#characterDayCtn {
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}
#characterDayCtn div {
  width: 100%;
}
.chat {
  /* max-height: 300px;
  overflow-y: scroll; */
}
.message-board {
  width: 100%;
  padding: 0 15px;
  max-width: 90%;
}
.message-board li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  flex-flow: row wrap;
  align-items: center;
}

#result-time {
  width: 100%;
}

.text-search-result-ctn {
  margin-top: 25px;
}

#gameName,
.text-search-result-ctn {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#gameName img,
.text-search-result-ctn img {
  max-height: 150px;
}

#gameName div,
.text-search-result-ctn div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 19.33%;
  margin-bottom: 50px;
  padding: 0 10px;
}

#gameName button,
.text-search-result-ctn button {
  height: 30px;
}

.birthday-match-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.birthday-match-ctn img {
  max-height: 150px;
}

#gameName .singlegame-random {
  width: 50%;
}

.singlegame-random ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.singlegame-random li {
  margin-right: 10px;
}

footer {
  display: none;
}
